@import url(./fonts.css);
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Manrope:wght@300;400;500&display=swap');


body {
    cursor: url(../img/cursor.png), auto;
    background-color: #FDFBF8;
    font-family: 'Manrope', sans-serif; 
    font-weight: 500;
    display: grid;
}

.grid {
    /* grid-template-columns: [left-gutter] 1fr [wrapper] 12fr [right-gutter] 1fr;
    grid-gap: 1vw; */
    display: grid;
    grid-gap: 100px 50px;
    grid-template-columns: 1fr 350px 350px 1fr;
    width: 97vw;
    margin: 5rem 10rem;
}

main {
    cursor: url(../img/cursor.png), auto;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    color: black;
    font-family: 'Fugue','Manrope', sans-serif;
}

h1 {
    font-size: 9vw;
}

h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
}

h3 {
    font-size: 2.5vw;
    margin-bottom: 1.3vw;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif; 
    font-weight: 500;
}

p {
    font-size: 2vw;
}

.hero {
 
    margin-top: 20%;
    margin-bottom: 32%;
}

h1 {
  
}


.main {
   
}

.section {
 
    margin-bottom: 16vw;
}

.section-btn {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 20%;
}

.section-btn a,
.section-btn div,
.btn {
    font-size: 2.32vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    background-color: black;
    border-radius: 20px 20px;
    padding: 2vw 3vw;
}

.section-btn a:hover  {
    text-decoration: underline;
}

.section-btn div,
.btn {
    color: #D3D3D3;
}

.btn {
    text-align: center;
    font-size: 2vw;
}

.section-btn div img {
    opacity: 0.7;
}

.section-btn div:last-of-type {
    padding:2vw 15vw;
}


.section__title {
  
}

.section__content {
  
}

.one .section__content p{
   margin: 1vw;
}

.one .section__content p:first-child {

}

.one .section__content p:nth-child(2) {

}

.one .section__content p:nth-child(3) {
    font-size: 1.5vw;
    font-weight: 300;
}

.one__img {
 
}

.one__img img {
    width: 35vw;
}

.one .btn {
    margin-top: 50%;
   
}

.two,
.five {
    background-color: blueviolet;
    margin: -2vw;
    padding: 2vw;
    color: white;
}

.two h2,
.two h3,
.five h2,
.five h3 {
    color: white;
}

.two h2 {
    
}

.two > p {
   
}

.section__inner {

}

.section__inner__code,
.section__inner__link {
    background-color: #DEDDDD;
    border-radius: 20px 20px;
}

.section__inner__code p {
    font-family: 'Anonymous Pro', monospace;
    padding: 3.5vw;
    color: #8710FF;
}



.three,
.six {
    margin-top: 25%;
}

.three .section__title {
  
}

.three .section__inner__code:hover {
    background-color: #8710FF;
}

.three .section__inner__code:hover p{
   color: white;
}

.three > p {
  
}

.four > p,
.five > p {
   
}

.four h2 {

}

.img {
    text-align: end;
    margin-bottom: 3%;
}

.img img {
    width: 20vw;
}

.section__inner__link {
    padding: 8vw;
}

.section__inner__link a {
    background-color: #8710FF;
    border-radius: 20px 20px;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1vw 1.5vw;
    text-align: center;
}

.section__inner__link a:hover {
    text-decoration: underline;
}

.six > p {
   
}

.section__inner__button {
    cursor: pointer;
    color: white;
    font-size: 2.32vw;
    background-color: black;
    border-radius: 20px 20px;
    padding: 2vw 3vw;
    margin-top: 8vw;
    width: 40%;
}

.six .section__inner:nth-of-type(2) .section__inner__text:nth-of-type(2) {
  
}

.six .section__inner:nth-of-type(2) .section__inner__code:nth-of-type(2) {
   
}

.seven > p {
    
}

@media (max-width: 768px) {
    h1 {
        font-size: 10vw;
        grid-column: 2 / 12;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 3.5vw;
    }

    p {
        font-size: 2.9vw;
    }

    .section-btn a, 
    .section-btn div,
    .btn {
        font-size: 4.32vw;
    }

    .one .section__content p:first-child {
        grid-column: 1/5;
    }

    .one .section__content p:nth-child(2) {
        grid-column: 1/4;
    }

    .one .section__content p:nth-child(3) {
        font-size: 2.5vw;
    }

    
}

@media (max-width: 425px) {
    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 4vw;
    }

    .section-btn a,
    .section-btn div, 
    .btn {
        border-radius: 10px 10px;
    }

    .one .section__content p:nth-child(2) {
        grid-column: 1/5;
    }

    .one .section__content p:nth-child(3) {
        font-size: 3vw;
        grid-column: 1/4;
    }

    .section__inner__text {
        grid-column: 1 / 3;
        margin-bottom: 7vw;
    }

    .section__inner__code {
        grid-column: 1 / 3;
        margin-left: 10%;
        margin-right: 10%;
    }
}



